* {
  font-family: arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body,
body>div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container>div {
  display: flex;
}

#navbar,
#footer-container {
  padding: 1.25em;
  justify-content: center;
  background-color: #36454f;
}

#navbar {
  color: azure;
}

#footer-container {
  color: azure;
}

#main-section {
  flex-grow: 1;
}

#main-section>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #b05f6d;
  color: white;
}

.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: #27b361;
  color: white;
}

.pink {
  background-color: rgb(252, 196, 206);
  color: black;
}

.purple {
  background-color: rgb(159, 87, 201);
  color: white;
}

/*Made with: https://cssgradient.io/ */
.rainbow {
  background: rgb(225, 178, 235);
  background: radial-gradient(circle, rgba(225, 178, 235, 1) 0%, rgba(232, 36, 122, 1) 8%, rgba(43, 199, 174, 1) 16%, rgba(106, 205, 24, 1) 32%, rgba(204, 155, 4, 1) 64%, rgba(255, 0, 99, 1) 100%);
  color: white;
}

#colorpicker-container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  margin: 1rem auto;
}

#color-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 2rem;
}

.colorpicker-container .react-colorful {
  height: 100%;
}

.colorpicker-container .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}

.color-section .react-colorful__hue {
  height: 60px;
  border-radius: 0 0 4px 4px;

}

.color-section .react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}

.color-section .react-colorful {
  margin-bottom: 28px;
  width: 120px;
  height: 120px;
}

.value {
  margin: 1rem 0;
  font-size: 18px;
}

span.referral-container {
  display: flex;
  align-items: center;
  height: 44px;
  margin-right: 16px;
  color: inherit;
  text-decoration: none;
  border: 2px solid currentColor;
  border-radius: 6px;
  padding: 0 16px;
  opacity: 0.8;
}

a {
  text-decoration: none;
  margin: 0 1rem;
}

a:link {
  color: azure;
}

a:visited {
  color: rgb(137, 179, 218);
}

a:hover {
  color:rgb(50, 151, 235);
  transition: 0.2s;
}

a:active {
  color:white;
  transition: 0.2s;
}

a.referral-a {
  margin: 0.5rem;
}

a.referral-a:visited {
  color: rgb(209, 119, 16);
  font-size: 20px;
  font-weight: 400;
}